{
  "name": "Balik",
  "version": "1.0.0",
  "scripts": {
    "lint:eslint": "eslint --ext .js,.jsx,.ts,.tsx src",
    "lint:prettier": "prettier --check src/**/*.+(js|jsx|ts|tsx)",
    "lint": "npm run lint:eslint && npm run lint:prettier"
  },
  "husky": {
    "hooks": {
      "pre-commit": "npm run lint"
    }
  }
}
